@font-face {
    font-family: 'Jost';
    font-weight: 400;
    src:
        local('Jost-Regular'),
        local('Jost Regular'),
        url('./fonts/Jost-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jost';
    font-weight: bold;
    src:
        local('Jost-Bold'),
        local('Jost Bold'),
        url('./fonts/Jost-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Righteous';
    font-weight: 400;
    src:
        local('Righteous-Regular'),
        local('Righteous Regular'),
        url('./fonts/Righteous-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    font-weight: 400;
    src:
        local('Inconsolata-Regular'),
        local('Inconsolata Regular'),
        url('./fonts/Inconsolata.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: var(--font-standard);
    margin: 0;
}

button {
    border: none;
    padding: 0;
    transition: var(--transition);

    &:hover {
        cursor: pointer;
    }
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

main {
    flex: 1;
}

kbd {
    border: 1px solid var(--text-main);
    border-radius: 3px;
    color: var(--text-main);
    padding: 1px 2px;
}
