dialog {
    background-color: var(--background);
    color: var(--general-font);
    border-radius: 3rem;
    padding: 0;
    visibility: hidden;
    transform: scale(0.1);
    transition: transform 200ms ease;

    & > form {
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        user-select: none;
        padding: 2rem;

        & > .form-btns {
            align-self: flex-end;
            margin-top: 4rem;

            & > button {
                background-color: transparent;
                font-size: 1.4rem;
                font-weight: bold;
                margin-left: 0.2rem;
            }
        }

        & input[type="radio"] {
            display: none;

            &:disabled {
                transform: none;
                color: var(--faded);
            }
        }

        & .options {
            margin-inline: 1.5rem;
            display: flex;
            justify-content: center;
            gap: 4rem;
        }

        & label {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 1.4rem;

            &:hover:not(:has(+ input:disabled)) {
                cursor: pointer;
            }
        }

        & label:has(+ input:checked:not(:disabled)) > svg {
            color: var(--general-font);
            transform: scale(1.3);
        }

        & svg {
            height: 5rem;
            margin-bottom: 0.5rem;
            color: var(--faded);
            transition: 200ms ease;
        }
    }
}

#custom-duration > form {  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > h4 {
        margin-top: 0;
    }

    & > input {
        background-color: var(--text-display);
        border: var(--input-border);
        border-radius: 1rem;
        color: var(--text-display-font);
        font-size: 3rem;
        padding: 1rem;
        width: 15rem;
        text-align: center;

        &:focus:not(:focus-visible) {
            outline: none;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#themes {
    background-color: var(--header);
    border-color: var(--header-font);
    color: var(--header-font);
    position: absolute;
    top: 2rem;
    right: 8.3rem;
    left: auto;
    padding: 1rem 1.5rem;

    & > ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 1.6rem;

        & > li {
            margin: 1rem;
            transition: 200ms ease;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}

dialog::backdrop {
    backdrop-filter: brightness(60%);
}

dialog.open {
    visibility: visible;
    transform: scale(1);
}