.themePickerPositioning {
    --distance-from-edge: 12px;
    --button-size: 1.75rem;
}

.themeButton {
    background-color: transparent;
    bottom: var(--distance-from-edge);
    color: var(--text-main);
    composes: themePickerPositioning;
    display: grid;
    height: var(--button-size);
    place-content: center;
    position: fixed;
    right: var(--distance-from-edge);
    width: var(--button-size);

    & > svg {
        height: 100%;
        width: 100%;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.themePicker {
    background-color: var(--header);
    border: 2px solid var(--text-header);
    border-radius: 6px;
    bottom: calc(var(--distance-from-edge) + var(--button-size) + 8px);
    composes: themePickerPositioning;
    left: auto;
    padding: 0;
    position: absolute;
    right: var(--distance-from-edge);
}

.themes {
    list-style: none;
    padding: 0;
}

.themes button {
    background-color: transparent;
    color: var(--text-header);
    font-size: large;
    padding: 3px 24px;
    width: 100%;

    &:hover {
        background-color: color-mix(in srgb, var(--header) 75%, white);
    }
}

.currentTheme {
    font-weight: bold;
}
