.modal {
    composes: modal from './options.module.css';
    max-width: 260px;
}

.form {
    composes: form from './options.module.css';
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customFormButtons {
    composes: buttons from './options.module.css';
}

.buttons {
    align-self: center;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    width: min(95vw, 400px);
}

.button {
    composes: button from './options.module.css';

    &.selected {
        color: var(--text-main);
        transform: scale(1.5);
    }

    &:hover:not(:disabled) {
        color: var(--text-main);
        transform: scale(1.35);
    }

    &:disabled {
        cursor: initial;
        opacity: 0.4;
    }
}
