.modal {
    background-color: var(--background);
    border-color: var(--text-main);
    border-radius: 8px;
    padding: 0;
    width: min(95vw, 500px);

    &::backdrop {
        backdrop-filter: brightness(0.3);
    }
}

.form {
    color: var(--text-main);
    padding: 12px;
}

.category {
    border: 1px solid var(--text-faded);
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
    margin-block: 16px;
    padding: 18px;

    & > legend {
        font-weight: bold;
    }
}

.radio {
    display: none;
}

.option {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    text-align: center;

    &:hover {
        cursor: pointer;
    }

    & > svg {
        --size: 48px;

        height: var(--size);
        transition: var(--transition);
        width: var(--size);

        &:hover:not(.selected) {
            transform: scale(1.2);
        }

        &.selected:not(.disabled) {
            transform: scale(1.35);
        }

        &:not(.selected),
        &.disabled {
            /* color: color-mix(in srgb, var(--text-main) 40%, var(--background)); */
            color: var(--text-faded)
        }
    }
}
