.test {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-inline: 16px;
    width: min(800px, 92vw);

    & > h1 {
        text-align: center;
    }
}

.words_container {
    font-family: var(--font-mono);
    padding: 12px;

    & > div {
        overflow: hidden;
    }
}

.input {
    font-size: large;
    padding: 4px 6px;
}

.words_container,
.input {
    border: 1px solid black;
    border-radius: 6px;
}
