main {
    position: relative;
    background-color: var(--background);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    user-select: none;
    font-size: 2.2rem;
    line-height: 2.7rem;

    & > button:first-child {
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
        margin-top: 4.4rem;
    }

    & > #caption {
        font-size: 2rem;
        margin-bottom: 0.4rem;
        padding-bottom: 0.6rem;
    }

    & > #reset {
        background-color: transparent;
        color: var(--general-font);
        font-family: inherit;
        font-size: inherit;
        margin-bottom: 1.6rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: 200ms ease;

        & > p {
            margin: 0;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    & > *:nth-child(n + 6):not(dialog) {
        width: min(65vw, 64rem);
    }

    & > #text-display {
        background-color: var(--text-display);
        border: none;
        border-radius: 1.3rem;
        color: var(--text-display-font);
        font-family: 'Inconsolata', monospace;
        font-weight: 300;
        overflow: hidden;
        white-space: normal;
        height: 6em;
        padding: 0.8rem 1.5rem 0.9rem;
        user-select: text;
    }
    
    & > #text-entry {
        border: var(--input-border);
        border-radius: 1.2rem;
        padding: 0.4rem 1rem;
        font-size: inherit;

        &:focus:not(:focus-visible) {
            outline: none;
        }
    }

    & > #results {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & > #timer {
        text-align: center;
    }
}

#results {
    & #stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    & #explanation {
        font-size: 1.7rem;
        text-align: center;
        user-select: text;
        margin-bottom: 2.5rem;
        width: min(75vw, 140%);

        & .collapsible {
            background-color: transparent;
            color: var(--general-font);
            font-family: inherit;
            font-weight: bold;
            margin-top: 2rem;
        }

        & .collapsible-content {
            font-weight: var(--explanation);
            overflow-y: hidden;
            transition: max-height 200ms linear;
        }
    }
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
        margin: 1rem 0;
    }
}