main {
    position: relative;
    background-color: var(--background);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    & > button:first-child {
        background-color: transparent;
        border: none;
        font-family: inherit;
        font-size: 2rem;
        margin-top: 6rem;
    }

    & #caption {
        margin-bottom: 0.4rem;
        padding-bottom: 0.6rem;
    }

    & #reset {
        background-color: transparent;
        border: none;
        color: var(--general-font);
        font-family: inherit;
        font-size: 2rem;
        margin-bottom: 1.6rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: 200ms ease;

        & > p {
            margin: 0;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
    
    & .container {
        font-size: 2.2rem;
        line-height: 2.7rem;
        display: grid;
        grid-template-rows: repeat(29, 2rem);
        grid-template-columns: repeat(32, 2rem);

        & #text-display {
            background-color: var(--text-display);
            border: none;
            border-radius: 1.3rem;
            color: var(--text-display-font);
            font-family: 'Inconsolata', monospace;
            font-weight: 300;
            overflow: hidden;
            white-space: normal;
            height: 6em;
            padding: 0.8rem 1.5rem 0.9rem;
            grid-row: 0 / 9;
            grid-column: 1 / 33;
            user-select: text;
        }
        
        & #text-entry {
            border: var(--input-border);
            border-radius: 1.2rem;
            margin-top: 0.4rem;
            padding: 1.2rem;
            font-size: inherit;
            grid-row: 9 /11;
            grid-column: 1 / 33;

            &:focus {
                outline: none;
            }
        }

        & #timer {
            text-align: center;
            grid-row: 11 / 16;
            grid-column: 13 / 21;
        }

        & #results {
            grid-row: 12 / 18;
            grid-column: 1 / 33;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

#results {
    & #stats {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & #explanation {
        font-size: 1.7rem;
        text-align: center;
        width: 140%;

        & .collapsible {
            background-color: transparent;
            border: none;
            color: var(--general-font);
            font-family: inherit;
            font-weight: bold;
            margin-top: 2rem;
        }

        & .collapsible-content {
            font-weight: var(--explanation);
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.07s linear;
        }
    }
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>* {
        margin: 1rem 0;
    }
}