@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&family=Righteous&family=Inconsolata:wght@300&display=swap');

:root {
    font-size: 10px;
}

body {
    color: var(--general-font);
    font-family: 'Outfit', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

header {
    background-color: var(--header);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;

    & button,
    a {
        background-color: transparent;
        border: none;
        color: var(--header-font);
        font-family: inherit;
        text-decoration: none;
        height: 4rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        & img {
            height: 4rem;
            width: auto;
        }

        & h1 {
            color: var(--header-font);
            font: 400 3rem 'Righteous', 'Outfit', sans-serif;
        }
    }
}

.right-header {
    margin-right: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    & svg {
        color: var(--header-font);

        &[id="theme-icon"] {
            transition: 200ms ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    & > #profile {
        font-size: 2rem;
        font-weight: 400;
    }
}

#durations {
    margin-block: 2rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;

    & button {
        background-color: transparent;
        border: none;
        color: var(--faded);
        font-family: inherit;
        font-size: 2rem;
        font-weight: 400;
        height: 5rem;
        width: 8rem;
        transition: 200ms ease;

        &:hover:not(:disabled) {
            transform: scale(1.3);
        }
    }
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>* {
        margin: 1rem 0;
    }
}

a:hover,
button:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.current {
    color: var(--font) !important;
    transform: scale(1.3);
}


.colour-scale-animated {
    color: var(--faded);
    transition: 200ms ease;
}

.colour-scale-animated:hover:not(:disabled),
label:has(+ input:not(:disabled)) > svg:hover  {
    color: var(--general-font);
    transform: scale(1.2);
}