.header {
    background-color: var(--header);
    color: var(--text-header);
    display: flex;
    justify-content: space-between;
    padding: 8px;

    & a {
        color: unset;
        text-decoration: none;
    }
}

.logo {
    align-items: center;
    display: flex;
    font-family: Righteous, var(--font-standard);
    font-size: x-large;
    gap: 6px;
}

.right {
    align-items: center;
    display: flex;
    gap: 12px;
}

.theme {
    background-color: transparent;
    color: var(--font-header);
    display: grid;
    place-content: center;
}
